%h2
  What do you think about Moseley and Kings Heath?

:plain  
  <script src="http://www.intensedebate.com/widgets/mostComments/161609/10" defer="defer" type="text/javascript"></script>
  
:plain
  <script src="http://www.intensedebate.com/widgets/acctComment/161609/5" defer="defer" type="text/javascript"></script>