#intro.box
  %h2
    We're Moseley Community Development Trust and we'd like to know
    %br
    #what_do_you_think
      = link_to "How do you think our area could be better?", new_entity_path


  %ol.walkthrough
    %li
      1. Walk around
    %li
      2. Have an idea
    %li
      3. Map it
    %li
      4. Discuss it
    %li.get_heard
      5. Get heard
  
  

  /#intro_text.indent{:style=>"clear: both; padding-top: 1.5em;"}
  /  All of the ideas added here will be sent to the Council as our response to 
  /
  /  = link_to "their consultation", "/"
  /  \. 
  
.colone{:style=>"clear: both;"}
  .box
    %h2
      From the 
      = link_to "blog", posts_path
  
    %ul#blog
      = render :partial=>"posts/post", :collection=>@posts
.coltwo
  .box
    %h2
      Hot 
      = link_to "ideas", entities_path
    :plain  

      <script src="http://www.intensedebate.com/widgets/mostComments/161609/10" defer="defer" type="text/javascript"></script>
  
  .box
    %h2
      Recently discussed
    :plain
      <script src="http://www.intensedebate.com/widgets/acctComment/161609/5" defer="defer" type="text/javascript"></script>