- @page_title = @entity.name

= render :partial=>"geometry/geometry", :object=>@entity.geom

= render :partial=>"shared/map" 

:plain
  <script>
  var idcomments_acct = '773cf2ce889c6eee2ff788c36e6ddb1d';
  var idcomments_post_id;
  var idcomments_post_url;
  </script>
  <span id="IDCommentsPostTitle" style="display:none"></span>
  <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>