- @page_title = @entity.name
- @breadcrumb = link_to "Ideas", entities_path

/= render :partial=>"geometry/geometry", :object=>@entity.geom

= render :partial =>"shared/new_idea_button"
  
= render :partial=>"shared/map" 


- unless @entity.flickr_view_entries.blank?
  %h2
    Photos near here
    = render :partial=>"shared/flickr", :collection=>@entity.flickr_view_entries

#comments
  = render :partial=>"shared/comments"