%h1.logo
  
  Your
  = link_to "Geopinion", home_path
  
  %span.locale
    on Moseley and Kings Heath
    
- if 1 == 0
  %h2
    Current location:
    = session[:lng]
    ,
    = session[:lat]
  
  
%h1.page_title
  = page_title